PORT=3001
NODE_ENV=development

# PayFast
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
PAYFAST_PASSPHRASE=
PAYFAST_SANDBOX=true
TRUDATA_BASE_URL=http://localhost:3001

# Firebase / Firestore
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json

